.contact {
  display: flex;
  flex-direction: column;
  padding-top: 150px;

  > form {
    display: flex;
    flex-direction: column;
    font-size: 20px;

    > div {
      display: flex;
      padding-bottom: 30px;
    }
    textarea {
      width: 100%;
      font-size: 100%;
      padding: 5px;
      outline: none;
    }
    .inputs {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-right: 30px;
      > input {
        height: 40px;
        width: 250px;
        font-size: 100%;
        border: 1px solid #63adda;
        outline: none;
      }
    }

    > button {
      background: transparent;
      height: 40px;
      width: 250px;
      font-size: 24px;
      cursor: pointer;
      outline: none;
      border: 1px solid #63adda;
      color: white;
    }
  }
}