footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  color: white;
  .links {
    display: flex;
    justify-content: center;
    gap: 25px;
    > a {
      padding: 20px;
      text-decoration: none;
      border: 1px solid #ff9800;
      margin-right: 30px;
      border-radius: 10px;
      color: white;
      width: 150px;
      &:hover {
        border-color: #b16c07;
      }
    }
  }
}
