body {
  margin: 0;
  padding: 0;
  background: #0F1223;
  font-family: HK Grotesk,Sans-serif;
}

@media (min-width: 1181px) {
  .services, .header, .home, .skills, .contact, .experience, footer {
    padding-left: calc(50vw - 570px);
    padding-right: calc(50vw - 570px);
  }
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: 20pt;

  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
  }
  > div {
    width: 50%;
  }

  .portrait {
    display: flex;
    justify-content: center;
  }

  .dialog {
    background: #FFF;
    border-radius: 25px;
    padding: 15px;
    .me {
      color: #00a1ff;
    }
    &::before {
      content: "";
      left: 98%;
      position: relative;
      top: 46px;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-top-color: #FFFFFF;

      @media (max-width: 1000px) {
        content: "";
        left: 98%;
        position: relative;
        top: 46px;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: #FFFFFF;
      }
    }

  }
}

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

svg {
  width: 25px;
}

