.header {
  position: absolute;
  color: #FFF;
  display: flex;
  margin-top: 20px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;

  .nav {
    display: flex;
    margin-left: auto;
    > a {
      color: #FFFFFF;
      text-decoration: none;
      margin-left: 20px;
      margin-right: 20px;
      line-height: 30px;
      padding: 15px 0;
      position: relative;
      font-weight: 600;
      text-transform: uppercase;
      background: none;
      font-size: 14px;
      display: block;
      transition: .3s;

      &:hover {
        color: #00a1ff;
      }
      :visited {
        color: #FFFFFF;
      }
    }
  }
}