.projects {
  padding-top: 150px;
  > div {
    padding-left: calc(50vw - 570px);
    padding-right: calc(50vw - 570px);
    background: #FFF;
    padding-bottom: 30px;
  }

  ._projects {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 30px;
  }

  .project {
    width: 346px;
    border-bottom: 1px solid #ff9800;
    &:hover {
      box-shadow: 0 4px 0 0 #ff9800;
    }

    .data {
      padding: 10px;
    }
  }
}
