.services {
  background: #f5f5f5;
  padding-bottom: 30px;

  > div {
    display: flex;
    justify-content: space-between;
    @media (max-width: 550px) {
      flex-direction: column;
    }
  }

  h2 {
    font-size: 14pt;
  }
  .service {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid #63adda;
    width: 25%;
    padding: 30px;
    cursor: default;
    border-radius: 5px;

    &:hover {
      border-color: #0597ec;
    }
  }
}
