.skills {
  background: #f5f5f5;
  //text-transform: uppercase;
  

  > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .skill {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    width: 80px;
    height: 80px;
    justify-content: center;
    margin: 20px;

    > p {
      margin: 5px;
    }
  }

  .svg {
    height: 25px;
    width: 25px;
  }
}